@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome to User Management System</h2>
    <p class="lead text-justify">
        This is an ASP.NET MVC Application, that use a single page to execute CRUD operation.<br />
        <br />
        The project uses Model View ViewModel Pattern (MVVM), so that we can reuse all data access and validation in a mobile application for example.<br />
        <br />
        To save the records, it is used a <b>XML Database</b> (the default folder to create automatically the XML file is on drive C:\).
    </p>
    <p><a href="User" class="btn btn-primary btn-lg">View Users &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>UserManagementSystem</h3>
        <p>
            UserManagementSystem Project its the main project, where there is the Controller, Views and JavaScript files.
        </p>
    </div>
    <div class="col-md-4">
        <h3>UserManagementSystem.Data</h3>
        <p>On UserManagementSystem Data Project, there is the objects, the view model, and the manager object.</p>
    </div>
    <div class="col-md-4">
        <h3>UserManagementSystem.Common</h3>
        <p>On UserManagementSystem Common Project, there is the CRUD operations to use in each page that we create.</p> 
    </div>
</div>